.about {
    padding: clamp(1.875rem, 0.4464rem + 7.1429vw, 6.875rem) 0;
    background: #F6F6F6
}

.about__container {
    text-align: center;
    max-width: 485px;
}

.about__title {
    margin-bottom: 20px;
    font-weight: 800;
}

.about__text:not(:last-child) {
    margin-bottom: 40px;
}

.about__text about_light text {
    color: #828282;
}